<?xml version="1.0"?>
<config>
    <modules>
        <EdwinYoyada_AddJs>
            <version>1.0.0</version>
        </EdwinYoyada_AddJs>
    </modules>
    <frontend>
        <routers>
            <addjs>
                <use>standard</use>
                <args>
                    <module>EdwinYoyada_AddJs</module>
                    <frontName>addjs</frontName>
                </args>
            </addjs>
        </routers>
        <layout>
            <updates>
                <addjs>
                    <file>addjs.xml</file>
                </addjs>
            </updates>
        </layout>
    </frontend>
    <global>
      <helpers>
        <addjs>
          <class>EdwinYoyada_AddJs_Helper</class>
        </addjs>
      </helpers>
        <blocks>
            <addjs>
                <class>EdwinYoyada_AddJs_Block</class>
            </addjs>
        </blocks>
        <models>
            <addjs>
                <class>EdwinYoyada_AddJs_Model</class>
                <resourceModel>addjs_mysql4</resourceModel>
            </addjs>
            <addjs_mysql4>
                <class>EdwinYoyada_AddJs_Model_Mysql4</class>
                <entities>
                    <addjs>
                        <table>addjs</table>
                    </addjs>
                </entities>
            </addjs_mysql4>
        </models>
        <resources>
            <addjs_setup>
                <setup>
                    <module>EdwinYoyada_AddJs</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </addjs_setup>
            <addjs_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </addjs_write>
            <addjs_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </addjs_read>
        </resources>
    </global>
    <admin>
        <routers>
            <addjs>
                <use>admin</use>
                <args>
                    <module>EdwinYoyada_AddJs</module>
                    <frontName>admin_addjs</frontName>
                </args>
            </addjs>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <addjs module="addjs">
                <title>AddJs</title>
                <sort_order>100</sort_order>
                <children>
                    <addjs module="addjs">
                        <title>Manage Addjs</title>
                        <sort_order>0</sort_order>
                        <action>admin_addjs/adminhtml_addjs</action>
                    </addjs>
                </children>
            </addjs>
        </menu>
        <layout>
            <updates>
                <addjs>
                    <file>addjs.xml</file>
                </addjs>
            </updates>
        </layout>
    </adminhtml>
</config>
